extends layout

block style
    link(rel='stylesheet' href='/css/index.css')
    
block content
    h1 샘플서버
    form(action="/auth/join", method="post")
        input(type="email", name="email" placeholder="이메일")
        input(type="text", name="nick" placeholder="닉네임")
        input(type="password", name="password" placeholder="비밀번호")
        button(type="submit") 회원가입
    form(action="/auth/login", method="post")
        input(type="email", name="email" placeholder="이메일")
        input(type="password", name="password" placeholder="비밀번호")
        button(type="submit") 로그인
    form(action="/auth/kakao", method="get")
        button(type="submit") 카카오로그인
    form(action="/post", method="post" enctype="multipart/form-data")
        input(name="img" type="file" accept="image/*")
        button(type="submit") 서브밋 
    form(action="/auth/logout", method="get")
        button(type="submit") 로그아웃     
    div= msg
    button#socket 소켓접속
    button#namespace 네임스페이스접속    
    script(src="/socket.io/socket.io.js")
    script.
        const socketConnect = document.querySelector('#socket');

        socketConnect.addEventListener('click', () => {
            const socket = io.connect('http://localhost:3000/', {
                path: '/socket.io',
                transports: ['websocket'],
            });

            socket.on('msg', (data) => {
                console.log(data);
            })
        })

        const namespaceConnect = document.querySelector('#namespace');

        namespaceConnect.addEventListener('click', () => {
            const socket = io.connect('http://localhost:3000/room', {
                path: '/socket.io',
                transports: ['websocket'],
            });

            socket.on('msg', (data) => {
                console.log(data);
            })
        })